.DS_Store
target
bin
.emax_restore
.emacs.d_restore
.backups
elpa
auto-save-list
.#*
*#*
tramp
recentf
ido.last
*~
*/.python-environments
ac-comphist.dat
eshell
url
games
ede-projects.el
semanticdb
transient
.cache
.lsp-session*
eclipse.jdt.ls
projectile-bookmarks.eld
workspace
.dap-breakpoints
amx-items
flycheck_*
quelpa
*.elc
emacs-d/projects